# Visual Studio files
**/*.sln
**/*.vcxproj
**/*.user
**/*.filters
*.sln
*.vcxproj
*.user
*.filters

# gmake2 files
Makefile
**/Makefile

# XCode files
xcuserdata/
**/*.xcodeproj
**/*.xcworkspace
**/*.xcworkspacedata
**/*.xcuserstate
**/*.xcuserdata
**/*.xcworkspace/**
**/*.xcodeproj/
**/DerivedData/
**/Products/
**/Build/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# IDE Data
.vs/
.vscode/
**/.vscode
*.code-workspace

# MacOS Files
.DS_Store
**/.DS_Store

# Binaries
bin/
bin-intermediate/