# Visual Studio files
**/*.sln
**/*.vcxproj
**/*.user
**/*.filters
*.sln
*.vcxproj
*.user
*.filters

# gmake2 files
Makefile
**/Makefile

# XCode files
xcuserdata/
**/*.xcodeproj
**/*.xcworkspace
**/*.xcworkspacedata
**/*.xcuserstate
**/*.xcuserdata
**/*.xcworkspace/**
**/*.xcodeproj/
**/DerivedData/
**/Products/
**/Build/

# IDE Data
.vs/
.vscode/

# Binaries
bin/
bin-intermediate/